body{
    text-align: center;
    background-color: rgb(78, 147, 157);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: rgb(155, 197, 203);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content p {
    text-align: justify;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

img {
    border: 1px solid #693537;
    border-radius: 4px;
    padding: 5-x;
    width: 250px;
    transition: transform 0.3s;
}

img:hover {
    transform: scaleX(-1);
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width: 100%;
    margin-top: 10px;
}

td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #6591a6;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}
